RewriteEngine On
RewriteBase /certificados_qa/

RewriteRule ^api(/.*)?$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html [L]

<IfModule mod_headers.c>
    Header set X-Robots-Tag "noindex, nofollow, noarchive"
    Header set Referrer-Policy "no-referrer"
</IfModule>
